<IfModule mod_php.ini>
    php_value upload_max_filesize 10M
    php_value post_max_size 10M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>

# Negar acesso a todos os arquivos .php na pasta config
<FilesMatch "^config\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Proteger o arquivo .htaccess
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

# Desabilitar listagem de diretórios
Options -Indexes

# Bloquear acesso a arquivos sensíveis
<FilesMatch "^(README|COPYING|LICENSE|composer\.(json|lock))$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

RewriteEngine On

# Manter a regra para Authorization header
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Redirecionar todas as requisições para o router.php, exceto arquivos/diretórios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ router.php [QSA,L] 